<ion-header>

</ion-header>

<ion-content>

  <div class="ion-padding">

    <div style=" width: 100%; margin-bottom: 5%; height: 280px; background-color: rgba(245.44, 245.44, 245.44, 1); border-radius: 20px;">

      <div class="center2">
        <p style="padding-top: 0%; font-size: 23px; font-weight: 700; line-height: 112%; color: rgba(16, 24, 43, 1);">Su reserva ha sido un exito! </p>
      </div>


      <div class="center" style=" width: 100%; ">
        <ion-icon name="checkmark-circle" style="color: rgb(130, 233, 96); font-size: 120px;"></ion-icon>
      </div>

      <div class="center2">
        <p style="padding-bottom: 0%; font-size: 14px; font-weight: 500; line-height: 112%; color: rgba(16, 24, 43, 1);">Recuerda llegar 15 min antes a la cancha! </p>
      </div>

    </div>

  </div>



  <ion-item lines="none" style="margin-right: 16px; margin: left 16px;">
    <ion-avatar slot="start" >
      <img src="assets/images/plaza.png">
    </ion-avatar>
    <ion-label>
      <h2><b>Zoccer Plaza</b></h2>
      <p>Contacto</p>
    </ion-label>
    <ion-icon name="chatbubble" style="color:rgba(16, 24, 43, 1);"></ion-icon>
  </ion-item>

  <div class="ion-padding">
    <ion-button size="large" color="dark" fill= "solid" expand="block" (click)="home()">Continuar</ion-button>
  </div>



</ion-content>
