<ion-header>

</ion-header>

<ion-content class="ion-padding">
  <div class="container">
    <div style="width: 100%;">
      <img style="width: 80%; margin-left: 30px; flex: 1 1 0%;" src="assets/images/login1.jpg"/>
      <div class="ion-padding" style="flex: 1 1 0%; padding-top: 16px; padding-bottom: 0px; margin-bottom: 0px; display: inline-flex; flex-direction: column; align-items: center; justify-content: center;">
        <p style="width: 100%; margin-bottom: 0px; font-size: 32px; font-weight: 700; line-height: 128%; color: rgba(24.98, 29.36, 32.94, 1);">Login</p>
      </div>


      <div class="ion-padding">

        <div style="width: 100%; margin-bottom: 10px; padding: 8px; background-color: white; border-radius: 4px; border-style: solid; border-width: 1px; border-style: solid; border-color: rgba(171.75, 184.23, 194.44, 1); display: inline-flex; flex-direction: row; align-items: left; justify-content: flex-start;">
          <div style="flex: 1 1 0%; display: flex; flex-direction: row; align-items: left; justify-content: flex-start;">
            <ion-input placeholder="Correo" type="email" autofocus="true" inputmode="email" mode="ios" pattern="email"></ion-input>
          </div>
        </div>

        <div style="width: 100%; margin-bottom: 10px; padding: 8px; background-color: white; border-radius: 4px; border-style: solid; border-width: 1px; border-style: solid; border-color: rgba(171.75, 184.23, 194.44, 1); display: inline-flex; flex-direction: row; align-items: left; justify-content: flex-start;">
          <div style="flex: 1 1 0%; display: flex; flex-direction: row; align-items: left; justify-content: flex-start;">
            <ion-input placeholder="Contraseña" type="password" pattern="password"></ion-input>
          </div>
        </div>


        <ion-button style="width: 100%;" size="large" color="dark" fill= "solid" expand="block" (click)="go()" >Login</ion-button>

        <div style="display: inline-flex; flex-direction: column; align-items: center; justify-content: flex-start;">
          <div style="width: 100%; padding-right: 16px; display: inline-flex; flex-direction: row; align-items: flex-start; justify-content: center;">
              <p style="margin-bottom: 0px; font-size: 12px; line-height: 16px; text-align: center; color: rgba(100.65, 110.74, 119, 1);">Olvidaste tu contraseña? </p>
              <p style="margin-bottom: 0px; font-size: 12px; font-weight: 700; line-height: 16px; text-align: center; color: rgba(24.98, 29.36, 32.94, 1);">Recuperala</p>
          </div>
          <div style="width: 327px; padding-right: 16px; display: inline-flex; flex-direction: row; align-items: flex-start; justify-content: center;">
              <p style="font-size: 12px; line-height: 16px; text-align: center; color: rgba(100.65, 110.74, 119, 1);">Aún no tienes cuenta?</p>
              <p style="font-size: 12px; font-weight: 700; line-height: 16px; text-align: center; color: rgba(24.98, 29.36, 32.94, 1);">Registrate</p>
          </div>
      </div>
      </div>



  </div>
  </div>

</ion-content>
