<ion-header>

</ion-header>

<ion-content>

  <div class="ion-padding">
    <div style="width: 344px; margin-bottom: 5%; height: 258px; background-color: rgba(245.44, 245.44, 245.44, 1); border-radius: 20px;">
      <div style="margin-left: 10%;">
        <p style="padding-top: 5%; font-size: 40px; font-weight: 700; line-height: 112%; color: rgba(16, 24, 43, 1);">Pago </p>
        <p style="width: 285px; font-size: 14px; line-height: 150%; color: rgba(16, 24, 43, 1);">Cancha #1   ................................. $53.000<br/><br/>Servicio       ....................................... $ 1.000</p>
        <p style="width: 292px; height: 36px; font-size: 14px; font-weight: 700; line-height: 24px; color: rgba(16, 24, 43, 1);">Total  ..........................................   $54.000</p>
      </div>

    </div>

    <ion-button size="large" color="dark" fill= "solid" expand="block" (click)="reserve()">Siguiente</ion-button>
  </div>


</ion-content>
