<ion-header>

</ion-header>

<ion-content>

  <div class="container">
    <div class="headtitle">
        <div class="headtitle ion-padding">
          <p>Canchas Cercanas</p>
        </div>


        <div class="profile">
            <img src="assets/images/icon2.jpg"/>
        </div>
    </div>

    <div class="bodyList">
      <ion-searchbar></ion-searchbar>

        <p class="ptitle">Barranquilla</p>

        <div class="cardfield">
            <div class="cardDetail">
                <img src="https://via.placeholder.com/131.5x86"/>
            </div>

            <div class="detailText">
                <div class="titleDetail">
                    <p class="titleProper">Zoccer Plaza</p>

                    <div class="badgePro">
                        <p>5km</p>
                    </div>
                </div>

                <p class="detailsTextCard">Dir: Cl. 45 # 33 - 95<br/>Tel: 605 3792121</p>
            </div>
        </div>


        <div class="cardfield" style="border-color: rgb(224, 238, 253);">
          <div class="cardDetail" style="background-color: rgba(202.94, 226.89, 255, 1);">
              <img src="https://via.placeholder.com/131.5x86"/>
          </div>

          <div class="detailText">
              <div class="titleDetail">
                  <p class="titleProper">El Tiburón</p>

                  <div class="badgePro">
                      <p>10km</p>
                  </div>
              </div>

              <p class="detailsTextCard">Dir: Murillo #36-36<br/>Tel: (5) 3793131</p>
          </div>
        </div>


        <div class="cardfield" style="border-color: rgba(216.75, 255, 248.12, 1);">
          <div class="cardDetail" style="background-color: rgba(216.75, 255, 248.12, 1);">
              <img src="https://via.placeholder.com/131.5x86"/>
          </div>

          <div class="detailText">
              <div class="titleDetail">
                  <p class="titleProper">La 8 F &nbsp; &nbsp; </p>

                  <div class="badgePro">
                      <p>20km</p>
                  </div>
              </div>

              <p class="detailsTextCard">Dir:  Cra. 8 #38b-51<br/>Tel: 300 2292969</p>
          </div>
        </div>


        <div class="cardfield" style="border-color: rgba(255, 243.27, 181.69, 1); ">
          <div class="cardDetail" style="background-color: rgba(255, 243.27, 181.69, 1); ">
              <img src="https://via.placeholder.com/131.5x86"/>
          </div>

          <div class="detailText">
              <div class="titleDetail">
                  <p class="titleProper">La Calidosa</p>

                  <div class="badgePro">
                      <p>20km</p>
                  </div>
              </div>

              <p class="detailsTextCard">Dir: Cra. 43 #80-2<br/>Tel: 300 5273540</p>
          </div>
        </div>

        <div class="cardfield" style="border-color: rgb(255, 205, 182); ">
          <div class="cardDetail" style="background-color: rgb(255, 205, 182);  ">
              <img src="https://via.placeholder.com/131.5x86"/>
          </div>

          <div class="detailText">
              <div class="titleDetail">
                  <p class="titleProper">La Jaula FC</p>

                  <div class="badgePro">
                      <p>20km</p>
                  </div>
              </div>

              <p class="detailsTextCard">Dir: Cra. 43 #80-2<br/>Tel: 300 5273540</p>
          </div>
        </div>

    </div>
</div>

</ion-content>
