<ion-header>

</ion-header>

<ion-content>

  <div style="height: 756px; display: inline-flex; flex-direction: column; align-items: flex-start; justify-content: flex-start;">
    <div style="width: 100%; padding-left: 16px; padding-right: 16px; display: inline-flex; flex-direction: row; align-items: flex-start; justify-content: flex-end;">
        <p style="flex: 1 1 0%; font-size: 32px; font-weight: 700; line-height: 128%; color: rgba(24.98, 29.36, 32.94, 1);">Canchas Cercanas</p>

        <div style="width: 32px; height: 32px; padding: 4px; background-color: rgba(202.94, 226.89, 255, 1); border-radius: 8px; display: flex; flex-direction: row; align-items: center; justify-content: center;">
            <img style="width: 24px; height: 24px;" src="https://via.placeholder.com/24x24"/>
        </div>
    </div>

    <div style="width: 100%; padding-left: 16px; padding-right: 16px; display: flex; flex-direction: column; align-items: center; justify-content: center;">
        <div style="width: 100%;">
            <div style="flex: 1 1 0%; padding: 12px; background-color: white; border-radius: 4px; border-style: solid; border-width: 1px; border-style: solid; border-color: rgba(171.75, 184.23, 194.44, 1); display: flex; flex-direction: row; align-items: center; justify-content: flex-start;">
                <div style="flex: 1 1 0%; display: flex; flex-direction: row; align-items: center; justify-content: flex-start;">
                    <p style="flex: 1 1 0%; font-size: 14px; line-height: 16px; color: rgba(100.65, 110.74, 119, 1);">Search</p>
                </div>

                <div style="display: flex; flex-direction: row; align-items: center; justify-content: flex-start;">
                    <img style="width: 16px; height: 16px; border-radius: 8px;" src="https://via.placeholder.com/16x16"/>
                </div>
            </div>
        </div>

        <p style="width: 100%; font-size: 32px; font-weight: 700; line-height: 128%; color: rgba(24.98, 29.36, 32.94, 1);">Barranquilla</p>

        <div style="width: 100%; background-color: white; box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.12); border-radius: 16px; border-style: solid; border-width: 1px; border-style: solid; border-color: white; display: inline-flex; flex-direction: row; align-items: flex-start; justify-content: flex-start;">
            <div style="height: 100%; padding: 16px; background-color: rgba(241.91, 231.62, 255, 1); border-top-left-radius: 16px; border-bottom-left-radius: 16px; display: inline-flex; flex-direction: column; align-items: center; justify-content: center;">
                <img style="width: 131.50px; height: 86px;" src="https://via.placeholder.com/131.5x86"/>
            </div>

            <div style="flex: 1 1 0%; padding-top: 8px; padding-bottom: 8px; padding-right: 8px; display: inline-flex; flex-direction: column; align-items: flex-start; justify-content: flex-start;">
                <div style="width: 100%; display: inline-flex; flex-direction: row; align-items: flex-start; justify-content: center;">
                    <p style="flex: 1 1 0%; font-size: 20px; font-weight: 700; line-height: 110%; color: rgba(24.98, 29.36, 32.94, 1);">Zoccer Plaza</p>

                    <div style="width: 55px; height: 27px; padding-left: 16px; padding-right: 16px; padding-top: 8px; padding-bottom: 8px; background-color: rgba(24.98, 29.36, 32.94, 1); border-radius: 16px; display: flex; flex-direction: row; align-items: center; justify-content: center;">
                        <p style="font-size: 12px; font-weight: 700; line-height: 16px; color: white;">5km</p>
                    </div>
                </div>

                <p style="width: 100%; font-size: 14px; line-height: 150%; color: rgba(100.65, 110.74, 119, 1);">Dir: Cl. 45 # 33 - 95<br/>Tel: 605 3792121</p>
            </div>
        </div>

        <div style="width: 100%; background-color: white; box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.12); border-radius: 16px; border-style: solid; border-width: 1px; border-style: solid; border-color: white; display: inline-flex; flex-direction: row; align-items: flex-start; justify-content: flex-start;">
            <div style="height: 100%; padding: 16px; background-color: rgba(202.94, 226.89, 255, 1); border-top-left-radius: 16px; border-bottom-left-radius: 16px; display: inline-flex; flex-direction: column; align-items: center; justify-content: center;">
                <img style="width: 131.50px; height: 86px;" src="https://via.placeholder.com/131.5x86"/>
            </div>

            <div style="flex: 1 1 0%; padding-top: 8px; padding-bottom: 8px; padding-right: 8px; display: inline-flex; flex-direction: column; align-items: flex-start; justify-content: flex-start;">
                <div style="width: 100%; display: inline-flex; flex-direction: row; align-items: flex-start; justify-content: center;">
                    <p style="flex: 1 1 0%; font-size: 20px; font-weight: 700; line-height: 110%; color: rgba(24.98, 29.36, 32.94, 1);">El Tiburón</p>

                    <div style="width: 55px; height: 27px; padding-left: 16px; padding-right: 16px; padding-top: 8px; padding-bottom: 8px; background-color: rgba(24.98, 29.36, 32.94, 1); border-radius: 16px; display: flex; flex-direction: row; align-items: center; justify-content: center;">
                        <p style="font-size: 12px; font-weight: 700; line-height: 16px; color: white;">10km</p>
                    </div>
                </div>

                <p style="width: 100%; font-size: 14px; line-height: 150%; color: rgba(100.65, 110.74, 119, 1);">Dir: Murillo #36-36<br/>Tel: (5) 3793131</p>
            </div>
        </div>

        <div style="width: 100%; background-color: white; box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.12); border-radius: 16px; border-style: solid; border-width: 1px; border-style: solid; border-color: white; display: inline-flex; flex-direction: row; align-items: flex-start; justify-content: flex-start;">
            <div style="height: 100%; padding: 16px; background-color: rgba(216.75, 255, 248.12, 1); border-top-left-radius: 16px; border-bottom-left-radius: 16px; display: inline-flex; flex-direction: column; align-items: center; justify-content: center;">
                <img style="width: 131.50px; height: 86px;" src="https://via.placeholder.com/131.5x86"/>
            </div>

            <div style="flex: 1 1 0%; padding-top: 8px; padding-bottom: 8px; padding-right: 8px; display: inline-flex; flex-direction: column; align-items: flex-start; justify-content: flex-start;">
                <div style="width: 100%; display: inline-flex; flex-direction: row; align-items: flex-start; justify-content: center;">
                    <p style="flex: 1 1 0%; font-size: 20px; font-weight: 700; line-height: 110%; color: rgba(24.98, 29.36, 32.94, 1);">La 8 FC</p>

                    <div style="width: 55px; height: 27px; padding-left: 16px; padding-right: 16px; padding-top: 8px; padding-bottom: 8px; background-color: rgba(24.98, 29.36, 32.94, 1); border-radius: 16px; display: flex; flex-direction: row; align-items: center; justify-content: center;">
                        <p style="font-size: 12px; font-weight: 700; line-height: 16px; color: white;">20km</p>
                    </div>
                </div>

                <p style="width: 100%; font-size: 14px; line-height: 150%; color: rgba(100.65, 110.74, 119, 1);">Dir:  Cra. 8 #38b-51<br/>Tel: 300 2292969</p>
            </div>
        </div>

        <div style="width: 100%; background-color: white; box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.12); border-radius: 16px; border-style: solid; border-width: 1px; border-style: solid; border-color: white; display: inline-flex; flex-direction: row; align-items: flex-start; justify-content: flex-start;">
            <div style="height: 100%; padding: 16px; background-color: rgba(255, 243.27, 181.69, 1); border-top-left-radius: 16px; border-bottom-left-radius: 16px; display: inline-flex; flex-direction: column; align-items: center; justify-content: center;">
                <img style="width: 131.50px; height: 86px;" src="https://via.placeholder.com/131.5x86"/>
            </div>

            <div style="flex: 1 1 0%; padding-top: 8px; padding-bottom: 8px; padding-right: 8px; display: inline-flex; flex-direction: column; align-items: flex-start; justify-content: flex-start;">
                <div style="width: 100%; display: inline-flex; flex-direction: row; align-items: flex-start; justify-content: center;">
                    <p style="flex: 1 1 0%; font-size: 20px; font-weight: 700; line-height: 110%; color: rgba(24.98, 29.36, 32.94, 1);">La Calidosa</p>

                    <div style="width: 55px; height: 27px; padding-left: 16px; padding-right: 16px; padding-top: 8px; padding-bottom: 8px; background-color: rgba(24.98, 29.36, 32.94, 1); border-radius: 16px; display: flex; flex-direction: row; align-items: center; justify-content: center;">
                        <p style="font-size: 12px; font-weight: 700; line-height: 16px; color: white;">20km</p>
                    </div>
                </div>

                <p style="width: 100%; font-size: 14px; line-height: 150%; color: rgba(100.65, 110.74, 119, 1);">Dir: Cra. 43 #80-2<br/>Tel: 300 5273540</p>
            </div>
        </div>

        <div style="width: 100%; background-color: white; box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.12); border-radius: 16px; border-style: solid; border-width: 1px; border-style: solid; border-color: white; display: inline-flex; flex-direction: row; align-items: flex-start; justify-content: flex-start;">
            <div style="height: 100%; padding: 16px; background-color: rgba(255, 208.57, 181.69, 1); border-top-left-radius: 16px; border-bottom-left-radius: 16px; display: inline-flex; flex-direction: column; align-items: center; justify-content: center;">
                <img style="width: 131.50px; height: 86px;" src="https://via.placeholder.com/131.5x86"/>
            </div>

            <div style="flex: 1 1 0%; padding-top: 8px; padding-bottom: 8px; padding-right: 8px; display: inline-flex; flex-direction: column; align-items: flex-start; justify-content: flex-start;">
                <div style="width: 100%; display: inline-flex; flex-direction: row; align-items: flex-start; justify-content: center;">
                    <p style="flex: 1 1 0%; font-size: 20px; font-weight: 700; line-height: 110%; color: rgba(24.98, 29.36, 32.94, 1);">Bogotá</p>

                    <div style="width: 55px; height: 27px; padding-left: 16px; padding-right: 16px; padding-top: 8px; padding-bottom: 8px; background-color: rgba(24.98, 29.36, 32.94, 1); border-radius: 16px; display: flex; flex-direction: row; align-items: center; justify-content: center;">
                        <p style="font-size: 12px; font-weight: 700; line-height: 16px; color: white;">$500</p>
                    </div>
                </div>

                <p style="width: 100%; font-size: 14px; line-height: 150%; color: rgba(100.65, 110.74, 119, 1);">Discover new places and find new adventures. </p>
            </div>
        </div>
    </div>
</div>

</ion-content>
